/**
* Accordeon
*/
.accordeon {
    display: flex; 
    flex-direction: column;
    gap:20px;
}

details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius:8px;
    overflow: hidden;
    width:250px;
    background-color: #ededed;
}

details summary {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding:5px;
    gap :80px;
}

details > div {
    display:none;
}

details[open] > div {
    display:block;
    padding:5px;
}   

details summary .chevron {
    transition: transform 0.3s ease;
    display: inline-block;
    font-size: 3.5em;
    color:#bababa;
}

details[open] summary .chevron {
    transform: rotate(90deg);
    color:#ffbac0;
}

details summary img {
    width:80px;
    height:50px;
    object-fit:cover;
    border-radius:4px;
}